//Colocar aquí clases utilitarias para todo el sitio. Por ejemplo: márgenes, alineación de texto y color de texto.

.text-center{
	text-align: center;
}

.black{
	background-color: black;
}

.pull-left{
	float: left;
}

.pull-right{
	float: right;
}

.white{
	color:white;
}

.style-none{
	list-style: none;
}