header{
	background-color: #ffcb00;
	width: 100%;
}

img.circle-right {
  left: 380px;
  position: relative;
 }

  h3.text-center.white {
  margin: 0;
}
h4.white {
  padding-left: 40px;
}

.abridor {
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
}

img.portada{
	width: 90%;
}

.subtitulo{
	padding: 4%;
}




footer{
	width: 100%;
}