header{
	background-color: #ffcb00;
	width: 100%;
}

.container {
  width: 970px;
}

img.circle-right {
  left: 380px;
  position: relative;
 }

h2.text-center {
  font-family: Sabon;
}

  h3.text-center.white {
  margin: 0;
  font-family: Times New Roman;

}

h4.white {
  padding-left: 40px;
  font-family: Times New Roman;
}

.abridor {
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
}

img.portada{
	width: 90%;
}

.subtitulo{
	padding: 4%;
}


footer{
	width: 100%;
}